@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0fdf4;
}

canvas {
    touch-action: none;
}

.slider-thumb::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #166534;
    border-radius: 50%;
    cursor: pointer;
}

/* Custom scrollbar for log output */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Modal Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-out;
}

/* Fire Animation */
@keyframes burn {
    0% {
        background-color: #fca5a5;
    }
    50% {
        background-color: #ef4444;
    }
    100% {
        background-color: #b91c1c;
    }
}

.burning {
    animation: burn 0.5s infinite alternate;
}

